body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-size: calc(0.75rem + 0.50 * ((100vw - 20rem) / 80));
  box-sizing: border-box;
}

#container {
  display: flex;
  flex-flow: column nowrap;
  /* justify-content: space-between; */
  /* gap: 3px; */
  width: 100%;
  height: 100%;
}

#layerBackground {
  position: absolute;
  width: 80vh;
  height: 80vh;
  z-index: 1;
}

#layerGame {
  /* border: 5vh solid hsl(28, 55%, 55%); */
  background-color: transparent;
  touch-action: none;
  width: calc(80vh);
  height: calc(80vh);

  flex: 0 0 0%;
  z-index: 2;
}

#layerUI {
  position: absolute;
  z-index: 3;
}

#panel {
  height: 15vh;
  width: 80vh;
  padding: 0.5em 0 0.5em 0;
  background-color: black;
  border-top: 3px solid rgb(50, 84, 255);

  font-family: Arial;

  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 0.8em;
}

button {
  margin: 0 0.3em 0 0.3em;
  padding: 0.3em;
  font-size: larger;
  font-family: Arial;
  border: none;
}

button:hover {
  background-color: hsl(59, 100%, 73%);
}

#newGameButton {
  margin: 0.6em 0.3em 0.6em 0.3em;
  color: red;
  background-color: white;
  border: 3px solid red;
}

#infobox {
  /* min-height: 10em; */
  padding: 0.3em;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  /* gap: 0.3em; */

  flex: 0 0 auto;
}

#info-score {
  padding: 0.3em;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  /* border: 1px dotted green; */
  border-bottom: 1px solid red;
}


#info-game {
  padding: 0.3em;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  /* border: 1px dotted orange; */
  border-bottom: 1px solid red;
}

#info-msg {
  position: relative;
  width: 12em;
  min-height: 3em;
  padding: 0.7em;
  font-size: smaller;
  background: white;
  /* flex: 1 1 auto; */
  border: 3px solid green;
}

@media screen and (min-width: 980px) {
  body {
    font-size: 1rem;
  }
}