body {
  margin: 0;
  padding: 0;
  background-color: black;
  box-sizing: border-box;
  font-family: Arial;
  touch-action: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  /* justify-content: space-between; */
  /* gap: 3px; */

  /* width: 100%;
  height: 100%;
  max-height: 100vh; */

  width: 100vw;
}

#layerBackground {
  position: absolute;
  height: calc(100vw * 3 / 2);
  max-height: 80vh;
  max-width: calc(80vh * 2 / 3);
  /* width: 100vw;
  height: calc(100vw * 3 / 2); */

  /* flex: 0 0 0%; */
  z-index: 1;
}

#layerGame {
  /* border: 5vh solid hsl(28, 55%, 55%); */
  background-color: transparent;
  height: calc(100vw * 3 / 2);
  max-height: 80vh;
  max-width: calc(80vh * 2 / 3);

  /* touch-action: none; */
  /* flex: 1 1 0%; */
  z-index: 2;
}

.layerUI {
  z-index: 3;
}

#panel {
  padding: 0.5em 0 0 0;
  background-color: hsla(135, 75%, 35%);
  border-top: 3px solid rgb(50, 84, 255);
  border-radius: 30px;

  width: 100%;
  max-width: calc(80vh * 2 / 3);
  height: 18vh;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

#expbar {
  display: flex;
  flex-flow: row nowrap;
  gap: 3px;
  flex: 0 1;
  width: 90%;
}

.expSegment {
  border-radius: 5px;
  border: 1px solid darkblue;
  flex: 1 1;
  height: 1vh;
}

#infobox {
  margin: 0.3em 0 0 0;
  color: purple;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  gap: 0.5em;
  /* -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; */
}

.infoSubBox {
  display: flex;
  flex-flow: row nowrap;
  gap: 2em;
}

/* #infoA {
  border: 1px dotted red;
} */

#newGameButton {
  color: blue;
  background-color: transparent;
  width: 20%;
  border: 2px solid blue;
}

button {
  margin: 0;
  padding: 0.3em;
  font-size: larger;
  border: none;
}

#newGameButton:hover, button:hover {
  color: hsl(59, 100%, 73%);
}

#touch-box {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  flex: 1;
  width: 100%;
  gap: 1em;
}

.touch-control {
  flex: 1 0;
  margin: 0 5px 5px 5px;
  padding: 0;
  color: black;
  border-radius: 50%;
  background-color: hsl(0, 75%, 40%);
  font-size:xxx-large;
  user-select: none;
}

#action-butt {
  visibility: hidden;
}